html, body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}
canvas {
    position: absolute;
    z-index: 0;
}
.ui {
    position: absolute;
    z-index: 1;
    padding: 15px;
}
.config {
    padding: 25px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: black;
}
.config:hover {
    background-color: bisque;
}
